h1 {
  color: orange;
  font-size: 3em;
}

.aqua-background {
  background-color: aqua;
}

.black-border {
  border: 1px solid black;
}

.green {
  background: green;
}

.red {
  color: red;
}

ul {
  background: blanchedalmond;
  width: 50%;
  height: 50vh;
}

/* Apply the following styles:
Give all p elements a font-size of 1.2em
Give the class "weather-heading" a font-family of Helvetica.
Give the class "weather-forecast" a background-color of "#c7d5ed"
Give the class "forecast" a color of "#270538" */ */
p {
  font-size: 1.2em;
}

.weather-heading {
  font-family: 'Russo One', sans-serif;
}

.weather-forecast {
  background: #c7d5ed;
}

.forecast {
  color: #270538;
}